---
import NavBar from "../components/NavBar.astro"
import Footer from "../components/Footer.astro"

type Props = {
  isPrivatePage?: boolean;
};

const { isPrivatePage = false } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content="Svitlo Bot settings" />
		<title>Svitlo Bot</title>
	</head>
	<body>
		<main>
			<NavBar />
			<slot />
			<Footer />
		</main>
	</body>
</html>

<script>
  import { auth } from "@scripts/firebase/init";

   // Grab the sign-out button 
  const signoutButton = document.getElementById("sign-out-button") as
    | HTMLButtonElement
    | undefined;

  if (signoutButton) {
    signoutButton.addEventListener("click", async () => {
      try {
        signoutButton.disabled = true;
        signoutButton.innerText = "Signing out ...";
        const response = await fetch("/api/auth/signout", {
          method: "POST",
        });

        if (!response.ok) {
          throw new Error("server signout failed");
        } 
        await auth.signOut ();
        window.location.href = "/signin";
      } catch (error) {
        signoutButton.disabled = false;
        alert(error);
      }
    });
  }
</script>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
